<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/LightThemeSelector">
        <activity android:name=".activities.MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActieveAgendaModule"
                  android:label="Actieve agenda module"
                  android:parentActivityName=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.AgendaAntwoorden"
                  android:label="Agenda antwoorden"
                  android:parentActivityName=".activities.ActieveAgendaModule">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActieveDossierModule"
                  android:label="Actieve Dossiermodule"
                  android:parentActivityName=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.InloggenActivity"
                  android:label="Inloggen"
                  android:parentActivityName=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.GeplandeAgendaModule"
                  android:label="Geplande Agendamodule"
                  android:parentActivityName=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.GeslotenAgendaModule"
                  android:label="Gesloten Agendamodule"
                  android:parentActivityName=".activities.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
